body {
  /*background: rgb(204,204,204);*/
  background: #0B3D91;
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  padding-top: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="letter"] {
  width: 21.59cm;
  height: 27.94cm;
}
page[size="letter"][layout="landscape"] {
  width: 27.94cm;
  height: 21.59cm;
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.2em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Spectral', serif, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  /*text-transform: uppercase;*/
/*font-style: italic;*/}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 300; }
h1 { font-size: 3.6rem; line-height: 1.25;  letter-spacing: -.1rem; font-weight: 700;}
h2 { font-size: 3.0rem; line-height: 1.3; letter-spacing: -.1rem; font-weight: 700;}
h3 { font-size: 2.4rem; line-height: 1.35;  letter-spacing: -.1rem; }
h4 { font-size: 1.8rem; line-height: 1.5; letter-spacing: -.08rem; }
h5 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: -.05rem; }
h6 { font-size: 1.2rem; line-height: 1.7;  letter-spacing: 0; }


p {
  margin-top: 0;
  /*text-indent: 2em;*/
  font-family: 'Spectral', serif;
  font-weight: 300;}

a {
  font-size: inherit;
  font-style: inherit;
  color: inherit;
  text-transform: inherit;
  text-decoration: none;
}
#brighttitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4rem;
  font-style: italic;
  padding-left: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

#contact{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4rem;
  text-align: right;
}
.sectionheading {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.subheading{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1;
}
.date{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1;
  text-align: right;
}
.info{
  font-family: 'Spectral', serif;
  font-size: 1.0rem;
  font-weight: 300;
  line-height: 1;
}
.stamp{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1;
  text-align: right;
  text-transform: uppercase;
  font-style: italic;
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle outside; }
ol {
  list-style: decimal outside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  /*margin: 1.5rem 0 1.5rem 3rem;*/
  font-size: 90%; }
li {
  margin-bottom: 0rem; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 0rem;
  margin-bottom: 1rem;
  border-width: 0;
  border-top: .5px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
